<!-- Toolbar -->
<div class="toolbar" role="banner"></div>

<div class="content" role="main">
  <h3 class="title">{{ title }} !</h3>
  <section>
    <div class="card">
      <p>
        Rejoignez notre communauté de fantômes et connectez-vous avec d'autres
        esprits pour partager vos histoires, vos expériences et vos peurs les
        plus profondes
      </p>
      <a href="user-auth"> connexion </a>
    </div>
  </section>
  <section class="story">
    <h3>Le château du Pangolin</h3>
    <p>
      Il était une fois, dans un royaume lointain, où les fantômes hantaient les
      ruines d'un château abandonné. Des villageois qui vivaient dans la peur de
      ces esprits malveillants, mais un groupe de courageux aventuriers a décidé
      de mettre fin à leur règne.
    </p>
    <p>
      Il y avait un guerrier fort et déterminé, un alchimiste habile, un sorcier
      puissant, des espions rusés et un enchanteur talentueux. Ils se sont
      rencontrés dans la ville voisine et ont décidé de se rejoindre pour
      vaincre les fantômes. Ils ont voyagé jusqu'au château abandonné et ont
      commencé à explorer les ruines. Ils ont rencontré de nombreux fantômes sur
      leur chemin, mais ils ont utilisé leurs compétences uniques pour les
      vaincre.
    </p>
    <p>
      Le guerrier a combattu les fantômes avec son épée magique, l'alchimiste a
      utilisé des potions pour les repousser, le sorcier a lancé des sorts pour
      les immobiliser, les espions ont repéré les fantômes cachés et
      l'enchanteur a utilisé ses pouvoirs pour les détruire. Finalement, ils ont
      atteint le cœur du château, où ils ont rencontré le fantôme le plus
      puissant, le Roi Fantôme.
    </p>
    <p>
      Il était furieux que des mortels osent pénétrer dans son domaine et a
      lancé une attaque dévastatrice. Mais les aventuriers étaient prêts.
    </p>
    <p>
      Ils ont uni leurs forces et ont vaincu le Roi Fantôme, mettant fin à son
      règne sur le château. Les villageois ont célébré leur victoire et ont
      rendu hommage aux aventuriers pour leur courage et leur détermination. Les
      fantômes ont été libérés de leur malédiction et ont trouvé la paix
      éternelle. Et les aventuriers ont continué à voyager dans le royaume, à la
      recherche de nouvelles aventures et de nouveaux défis à relever.
    </p>
  </section>
</div>

<router-outlet></router-outlet>
