@import "../../styles.scss";

.main {
  display: flex;
  top: 20rem;
  text-align: center;

}
.content {
  section : {
    padding: 3rem;
  }
  h3 {
    font-weight: 900;
  }
}
.title {
  margin-top: 3.7rem;
  font-size: xx-large;
  color: $white;
  padding: 1rem;
  font-family: RioGrande;
}

.card {
  margin: 4rem auto;
  max-width: 90rem;
  max-height: 100vh;
  background-color: $primary;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 2rem;

  p {
    color: $white;
    text-align: center;
  }
  a {
    margin: auto;
    width: 8rem;
    border-radius: 1rem;
    color: $hover;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px $white, 7px 7px 20px 0px $hover,
      4px 4px 5px 0px $hover;
    outline: none;
  }
  a:before {
    height: 0%;
    width: 2px;
  }
  a:after {
    width: 0%;
    height: 2px;
  }
  a:hover {
    color: $white;
    background: transparent;
  }
  a:hover:before {
    height: 100%;
  }
  a:hover:after {
    width: 100%;
  }
  a span:before,
  a span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: $primary;
    box-shadow: -7px -7px 20px 0px $primary, -4px -4px 5px 0px $primary,
      7px 7px 20px 0px $dark-color, 4px 4px 5px 0px $grey;
    transition: all 0.3s ease;
  }
  a span:before {
    width: 2px;
    height: 0%;
  }
  a span:after {
    height: 2px;
    width: 0%;
  }
  a span:hover:before {
    height: 100%;
  }
  a span:hover:after {
    width: 100%;
  }
  &:hover {
    padding: auto;
    color: $dark-color;
    background-color: $primary;
    border: 1px solid $white;
    border-radius: 1rem;
  }
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
}

.story {
  margin: auto;
  height: 100%;
  background: linear-gradient(to bottom, $primary, $primary-background);
  * {
    background: linear-gradient(to bottom, $primary, rgba(255, 165, 0, 0));
  }
  overflow-y: scroll;
  text-align: center;
  border-radius: 0.5rem;
  p {
    margin: 1.2em auto;
    max-width: 80vw;
    color: $light-color;
  }

  p:nth-child(6) {
    margin-bottom: 10rem;
  }
}

.story h3 {
  margin-top: 4rem;
  color: $light-color;
}
