<nav class="nav">
  <h1>
    <sub>Social</sub>
    <a routerLink="home">Fantôme</a>
  </h1>
  <button (click)="toggleMenu()">
    <i class="burger material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
  </button>
    <div
      class="menu"
      [ngClass]="{ open: isMenuOpen }"
      
    >
      <ul>
        <li  *ngIf="menuType === 'user'" (click)="toggleMenu()">
          <a class="menu-items" routerLink="home">Accueil</a>
        </li>
        <li *ngIf="menuType === 'user'" (click)="toggleMenu()">
          <a>{{ username | titlecase }}</a>
        </li>
        <li  *ngIf="menuType === 'user'" class="menu-items" (click)="toggleMenu()">
          <a routerLink="user-auth">Mon compte</a>
        </li>
        <li *ngIf="menuType === 'user'" (click)="toggleMenu()">
          <a class="menu-items" (click)="userLogout()">Deconnexion</a>
        </li>
        <li class="menu-items" *ngIf="menuType !== 'user'" (click)="toggleMenu()">
          <a class="menu-items" routerLink="user-auth"
            >Se Connecter/Créer un compte</a
          >
        </li>
      </ul>
    </div>
</nav>

